body{
    background-color: #111;
    color: #AAA;
    font-family: helvetica;
}
div#main{
    padding:20px;
    width: 600px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
ul{
    padding-left:0px;
}
ul ul{
    padding-left:30px;
}
li{
    list-style-type:none;
}
li.title{
    padding-bottom:15px;
    padding-top:15px;
}
li.class{
    padding-bottom:5px;
    padding-top:5px;
}
span.title, h2{
    color:#FFF;
    font-size: 30px;
}
b{
    color:#FFF;
}
a.add, a.login{
    color:#9E9;
}
a.edit{
    color:#EE9;
}
a.delete, a.logout{
    color:#E99;
}
li.flash{
    list-style-type: none;
    background-color:cyan;
    color:black;
}
label,input,textarea{
    display:block;
}
label{
    margin-top:10px;
}
button{
    margin-top:30px;
}

img.small_thumb{
    display:inline;
    width:25px;
}

img.med_thumb{
    display:block;
    width:180px;
    padding-bottom:10px;
}

input, textarea{
    width:600px
}